@font-face {
    font-family: 'National Park';
    src: url('./NationalPark-VariableFont_wght.ttf') format('truetype');
}

#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'National Park', sans-serif;
}

.App, .transitionGroup {
    width: 100%;
    height: 100%;
}

.mainCanvas {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.objectCanvas {
    width: 180px;
    height: 180px;
    box-sizing: border-box;
}

.video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay {
    font-weight: bold;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 10;
    color: white;
    display: flex;
}

.mainTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    user-select: none;
    -webkit-user-select: none;
    z-index: 10;
    pointer-events: none;
}

.fullWidthCenteredRow {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all 0.2s;
}

.fullWidthCenteredRow:hover {
    transform: scale(1.01);
}

.wideCanvasContainer {
    width: 98vw;
    height: calc(100vh / 2.5);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    border: 1px solid white;
}

.wideCanvas {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.horizontalMotionDivsContainer {
    position: relative;
    width: 90vw;
    margin: 0 auto;
    height: calc(100vh / 2);
    margin-top: calc(100vh / 4.5);
    display: flex;
    user-select: none;
    -webkit-user-select: none;
}

.horizontalMotionDiv {
    position: absolute;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.horizontalMotionDivInner {
    color: white;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 30px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.2s;
    padding: 10px;
    box-sizing: border-box;
}

.horizontalMotionDivInner:hover {
    transform: scale(1.02);
    background: radial-gradient(circle, rgb(255, 242, 213), rgb(168, 158, 139));
    box-shadow: 0 0 50px rgba(255, 242, 213, 0.5);
}

.horizontalMotionDivInner:hover > .horizontalMotionDivImage {
    margin-top: 0;
}

.horizontalMotionDivImage {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    width: 100%;
    height: 66%;
    box-sizing: border-box;
    margin-top: 16.3vh;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.horizontalMotionDivTextContainer {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 40px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.1vh;
    font-weight: 100;
    box-sizing: border-box;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.horizontalMotionDivTextContainer > h1 {
    margin: 0;
    font-weight: bold;
    line-height: 7vh;
}

.horizontalMotionDivMoreTextContainer {
    font-style: italic;
    font-size: 1.5vh;
    color: #5a4d46;
    padding: 0 20px;
}

.moveDownTextContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    user-select: none;
}

.textContainer {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    font-size: 2.1vh;
    font-weight: 100;
}

.textContainer > h1 {
    margin: 0;
    font-weight: bold;
    line-height: 7vh;
}

.button {
    position: relative;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border-radius: 30px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    animation: fall 0.5s forwards;
    min-width: 60px;
    height: 60px;
    transition: all ease-out 0.1s;
}

.button:hover:not(.buttonClickAnimation) {
    color: 'black';
    border: 1px solid white;
    transform: scale(1.2);
}

.button:not(:hover) > .buttonHoverCircle {
    display: none;
}

.buttonHoverCircle {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 100%;
    width: 220%;
    transition: all 0.5s;
    animation: buttonHoverCircle 0.4s forwards;
    z-index: -1;
    aspect-ratio: 1 / 1;
}

.buttonText {
    mix-blend-mode: difference;
}

@keyframes buttonHoverCircle {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.buttonClickAnimation {
    animation: buttonClickAnimation ease-in-out 0.3s forwards;
}

@keyframes buttonClickAnimation {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.8);
    }
    100% {
        transform: scale(1.2);
    }
}

.pageTransitionAnimationContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.aboutContainer {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.aboutBox {
    width: 98vw;
    height: calc(100vh - 270px);
    margin: 135px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1vh;
    font-weight: 100;
    color: white;
    background: radial-gradient(circle, rgba(211, 211, 211, 0.348), rgb(0, 0, 0));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    animation: aboutBoxShrink cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards;
    transition: all 0.2s;
}

.aboutBox:hover {
    transform: scale(1.01);
}

@keyframes aboutBoxShrink {
    0% {
        height: calc(100vh - 270px);
    }
    50% {
        height: calc(100vh - 270px);
    }
    100% {
        height: 200px;
    }
}

.aboutParagraph {
    max-width: 800px;
    margin-bottom: 90px;
    text-align: center;
    line-height: 3vh;
    font-size: 22px;
    font-weight: 100;
    text-align: justify;
}

.aboutSpan {
    font-weight: bold;
    font-size: 30px;
    color: #daba77;
    text-shadow: 0 0 10px rgba(218, 187, 119, 0.89);
}

.aboutImage {
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 140px;
    border-radius: 30px;
    filter: grayscale(100%);
    margin-right: 35px;
}